@using Runtasker.ExtensionsUI.UIExtensions.Orders
@using Runtasker.Logic.Entities
@using HtmlExtensions.StaticRenderers
@using Extensions.String
@model List<Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";

}
        
<div class="row">
    <h1>Заказы на сайте</h1>

    <!--Sort Panel-->
    <div class="pull-right">
        <div class="btn-group">
            <ul class="pager">
                <li>
                    <a href="#" class="btn btn-default btn-filter" data-target="active">
                        Активные @GISigns.Count(Model.Count(o => o.Status.GetActiveStatus() == "active")).ToHtml()
                    </a>
                </li>
                <li>
                    <a href="#" class="btn btn-default btn-filter" data-target="finished">
                        Завершенные @GISigns.Count(Model.Count(o => o.Status.GetActiveStatus() == "finished")).ToHtml()
                    </a>
                </li>
                <li>
                    <a href="#" class="btn active btn-default btn-filter" data-target="all">
                        Все @GISigns.Count(Model.Count()).ToHtml()
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--/Sort Panel-->
</div>

@Styles.Render("~/OrdersList")
@foreach (Order order in Model)
{
    @MvcHtmlString.Create(new PerformerOrderHtmlEntity(order).ToString())
}

@section scripts{
    <!--Chat Toggler Scripts-->
    <script>
        var chatTogglers = $('.orderChat');

        var modalBody = $('#modalBody');
        var myModal = $('#myModal');

        chatTogglers.click(function (e) {
            e.preventDefault();

            var id = $(this).attr('id');
            myModal.modal('show');
            //$('#chatMenu').collapse('hide');
            GetModalData(id);
        });

        function GetModalData(id)
        {
            $.ajax({
                type: "GET",
                url: '/Performer/ChatAboutOrder/' + id,
                contentType: false,
                processData: false,
                async: true,
                data: null,
                success: function (result) {
                    modalBody.html(result);
                },
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }
            });
        }
    </script>
    <!--/Chat Toggler Scripts-->

    <!--Filter scripts-->
        <script>
        $(document).ready(function () {

            
            var filterBtns = $('.btn-filter');

            filterBtns.on('click', function () {
                var $target = $(this).data('target');

                filterBtns.removeClass('active');
                $(this).addClass('active');

                if ($target != 'all') {
                    $('.bs-calltoaction').css('display', 'none');
                    $('.bs-calltoaction[data-status="' + $target + '"]').fadeIn('slow');
                } else {
                    $('.bs-calltoaction').css('display', 'none').fadeIn('slow');
                }
            });



        });
</script>
    <!--/Filter scripts-->
}
        

