@using Runtasker.LocaleBuilders.Statics
@using Runtasker.LocaleBuilders.Enumerations
@{
    //Как нибудь засунь эти ифы и это все в форич
    Layout = null;
    string rus = "Русский";
    string chinese = "中文(简体)";
    string eng = "English";

    Lang currentLang = LanguageStatic.Language;

    string langBlockId = "langBlock";
    string userBlockId = "userForm";
    string layoutBlockId = "layoutForm";
}

<div id="@langBlockId" class="btn-group pull-right">
    <button id="langToogler" onclick="langFormMenuHandler()" class="dropdown-toggle language" type="button">
        @if (currentLang == Lang.Russian)
        {
            <img src="~/assets/images/flags/ru.png" width="16" height="11" alt="RUS Язык" />
            <span class="hidden-xs">@rus</span>
            <span class="caret hidden-xs"></span>
        }
        else if (currentLang == Lang.Chinese)
        {
            <img src="~/assets/images/flags/cn.png" width="16" height="11" alt="@chinese" />
            <span class="hidden-xs">@chinese</span>
            <span class="caret hidden-xs"></span>
        }
        else
        {
            <img src="~/assets/images/flags/gb.png" width="16" height="11" alt="EN Language" />
            <span class="hidden-xs">@eng</span>
            <span class="caret hidden-xs"></span>
        }

    </button>

    <ul class="dropdown-menu">
        @if (currentLang != Lang.English)
        {
            <li>
                <a id="engBtn" language="en-GB" class="languageBtn">
                    <img src="~/assets/images/flags/gb.png" width="16" height="11" alt="EN Language" /> [GB] English
                </a>
            </li>
        }
        
        @if (currentLang != Lang.Russian)
        {
            <li>
                <a id="ruBtn" language="ru-RU" class="languageBtn">
                    <img src="~/assets/images/flags/ru.png" width="16" height="11" alt="RU Language" /> [RUS] Русский
                </a>
            </li>
        }
        
        @if (Runtasker.Settings.Settings.AppSetting == Runtasker.Settings.Enumerations.ApplicationSettingType.Debug && currentLang != Lang.Chinese)
        {
            <li>
                <a id="chineseBtn" language="zh-CN" class="languageBtn">
                    <img src="~/assets/images/flags/cn.png" width="16" height="11" alt="CN Language" /> [CN] 中文(简体)
                </a>
            </li>
        }
    </ul>
</div>

<!--Скрипт раскрывалки-->
<script>
    function langFormMenuHandler()
    {
        var userBlock = document.getElementById("@userBlockId");
        if (userBlock.classList.contains("open")) {
            userBlock.classList.remove("open");
        }

        var layoutBlock = document.getElementById("@layoutBlockId")
        if (layoutBlock != null && layoutBlock.classList.contains("open"))
        {
            layoutBlock.classList.remove("open");
        }

        var langBlock = document.getElementById("@langBlockId");

        if (langBlock.classList.contains("open"))
        {
            langBlock.classList.remove("open");
        }
        else
        {
            langBlock.classList.add("open");
        }
    }     
</script>
<!--/Скрипт раскрывалки-->

<!--Скрипт посыла на смену языка-->
<script>
    document.addEventListener('DOMContentLoaded', function () {

        var ruBtn = $("#ruBtn");

        var engBtn = $("#engBtn");

        var languageBtns = $(".languageBtn");

        languageBtns.click(function (e) {
            e.preventDefault();
            var langCode = $(this).attr("language");
            var returnUrl = window.location.pathname;
            var link = "/Language/ChangeWithRedirect?LanguageAbbrevation=" + langCode + "&returnUrl=" + returnUrl;
            window.location.href = link;

        })

    })
</script>
<!--/Скрипт посыла на смену языка-->
