@using Runtasker.Resources.Views.Payment.Failed
@using HtmlExtensions.StaticRenderers
@{
    ViewBag.Title = FailedRes.Title;
}

<h2>@FailedRes.Header</h2>

<h4>@FailedRes.Explanation</h4>

<a href="/Payment/YandexKassa" class="btn btn-success">
    @FASigns.Undo.ToHtml() @FailedRes.TryAgain
</a>

<a href="/Home/Index" class="btn btn-default">
    @FailedRes.BackToMainMenu
</a>