@using HtmlExtensions.StaticRenderers
@using Extensions.String
@using Runtasker.LocaleBuilders.Models
@model decimal?

@{ 
    
    LocaleViewModel localeModel = ViewData["localeModel"] as LocaleViewModel;
    ViewBag.Title = localeModel["Title"];

    string roboKassa = $"{FASigns.CreditCard} {localeModel["HtmlTopUpViaRoboKassa"]}";
    string yandexMoney = $"{FASigns.CreditCard} {localeModel["HtmlTopUpViaYandexMoney"]}";
}

<!--Navigation-->
<header id="page-title">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <ul class="breadcrumb">
            <li><a href="/Home/Index">@localeModel["NavHome"]</a></li>
            <li class="active">@localeModel["NavActive"]</li>
        </ul>
    </div>
</header>
<!--/Navigation-->

<div class="page-header">
    <h1>@localeModel["ActionDesc"] <small>@localeModel["ActionDescMini"]</small></h1>
</div>

<h3>@localeModel["Amount"]:</h3>
<div class="row">
    <div class="col-md-5">
        <div class="input-group input-group-lg">
            <input id="sum" class="form-control" value="@((Model.HasValue) ? Model.Value : 0 )" maxlength="10" type="number" data-type="number">
            <span class="input-group-addon">
                @HtmlSigns.Rouble.ToHtml()
            </span>
        </div>
        <div class="row">
            <h4 id="errorText" class="hidden text-danger">
                @localeModel["ErrorText"]
            </h4>
        </div>
        <style>
            #errorText{
                padding-left : 15px;
            }
        </style>
    </div>
</div>

<!--UserButtons-->
<div class="row paddingLeft">
    <a id="roboKassaPay" class="btn btn-lg btn-info marginTop">
        @roboKassa.ToHtml()
    </a>

    <a id="yandexMoneyPay" class="btn btn-lg btn-success marginTop">
        @yandexMoney.ToHtml()
    </a>
</div>

<style>
    .marginTop{
        margin-top: 10px;
    }

    .paddingLeft
    {
        padding-left: 15px;
    }
</style>
<!--/UserButtons-->

<!--Explantion-->
<div class="row paddingLeft">
    <h4 class="text-info">
        @localeModel["InfoText"]
    </h4>
</div>
<!--/Explanation-->


@section scripts{
    <script>
        var sum = $("#sum");

        var errorText = $("#errorText");

        var roboKassaButton = $("#roboKassaPay");
        var yandexMoneyButton = $("#yandexMoneyPay");

        function SumIsNum()
        {
            return !isNaN(sum.val());
        }

        function SumIsNumericNull()
        {
            return sum.val() == '0' || sum.val() == 0;
        }

        function SumIsGreaterThanNull()
        {
            if(!SumIsNum)
            {
                return false;
            }

            return ( Number(sum.val()) > 0 )
        }

        function NotificationShow() {
            errorText.removeClass('hidden');
        }

        function NotificationHide() {
            errorText.addClass('hidden');
        }

        roboKassaButton.click(function (e) {
            e.preventDefault();

            if (!SumIsGreaterThanNull())
            {
                NotificationShow();
            }
            else
            {
                var sumToPay = sum.val();
                window.location.href = "/Payment/Robokassa?sumToPay=" + sumToPay;
            }
        });

        yandexMoneyButton.click(function (e) {
            e.preventDefault();

            if (!SumIsGreaterThanNull()) {
                NotificationShow();
            }
            else {
                var sumToPay = sum.val();
                window.location.href = "/Payment/Yandex?sumToPay=" + sumToPay;
            }
        });

        sum.change(function (e) {
            e.preventDefault();
            if(SumIsGreaterThanNull())
            {
                NotificationHide();
            }
        })
    </script>
}
