@using Runtasker.Logic.Models.Payments.YandexKassa
@using Runtasker.LocaleBuilders.Models
@model YandexKassaPaymentResponse
@{
    LocaleViewModel localeModel = ViewData["localeModel"] as LocaleViewModel;

    ViewBag.Title = localeModel["Title"];
}

<!--Navigation-->
<header id="page-title">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <ul class="breadcrumb">
            <li><a href="/Home/Index">@localeModel["HomeNav"]</a></li>
            <li><a href="/Payment/Index">@localeModel["ToppingUpNav"]</a></li>
            <li class="active">@localeModel["ActiveNav"]</li>
        </ul>
    </div>
</header>
<!--/Navigation-->


<h3>@localeModel["PaymentDescText"]</h3>

<a href="/Orders/Index" class="btn btn-success btn-lg">
    @localeModel["GoToMyOrdersBtnText"]
</a>

