@using Runtasker.Logic.Models.Payments.YandexKassa
@using Runtasker.Resources.Views.Payment.YandexInvoice
@model YandexInvoiceModel
@{
    ViewBag.Title = YaInvoiceRes.Title;

    string _class = "form-horizontal";
}

@AlertHelper.GetAlert(YaInvoiceRes.InfoText)

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName : "", controllerName: "", method: FormMethod.Post, htmlAttributes: new { @class = _class }))
{
    @Html.HiddenFor(x => x.UserId)

    @Html.LabelAndTextBoxFor(x => x.Email)

    @Html.LabelAndTextBoxFor(x => x.Amount)

    <div class="btn btn-success" onclick()>
        @YaInvoiceRes.Текст_Кнопки
    </div>
}

