@using Runtasker.Logic.Models.Payments.YandexKassa
@using Runtasker.Resources.Views.Payment.YandexInvoice
@model YandexInvoiceModel
@{
    ViewBag.Title = YaInvoiceRes.Title;

    string _class = "form-horizontal";
}

@AlertHelper.GetAlert(YaInvoiceRes.InfoText)

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName : "YandexInvoice", controllerName: "Payment", method: FormMethod.Post, htmlAttributes: new { @class = _class }))
{
    @Html.HiddenFor(x => x.UserId)

    @Html.LabelAndTextBoxFor(x => x.Email)

    @Html.LabelAndTextBoxFor(x => x.Amount)

    <input id="hiddenSubmit" type="submit" class="hidden" />

    <div class="btn btn-success" onclick="ClickHandler()">
        @YaInvoiceRes.Текст_Кнопки
    </div>
}

@using Common.JavascriptValidation.Statics
@{ 
    string jsObject = JSValidationMaker.GetJSValidationObject(typeof(YandexInvoiceModel));
}
@section Scripts{
    


    <script>
        function ClickHandler() {
            document.getElementById("hiddenSubmit").click();
        }
    </script>
}

