@using Runtasker.Logic.Models.Payments.YandexKassa
@using Runtasker.Resources.Views.Payment.YandexInvoice
@using UI.Settings
@using oksoft.Common.HtmlExtensions.Extensions
@using Runtasker.Logic.Entities
@model YandexInvoiceModel
@{
    ViewBag.Title = YaInvoiceRes.Title;

    string _class = "form-horizontal";

    _class = AtroposSettings.GetFormClass();

    string email = User.Identity.GetEmail();
}

@AlertHelper.GetAlert(YaInvoiceRes.InfoText)

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(actionName : "YandexInvoice", controllerName: "Payment", method: FormMethod.Post, htmlAttributes: new { @class = _class }))
{
    @Html.HiddenFor(x => x.UserId)

    @Html.LabelAndTextBoxWithTooltipFor(x => x.Email)

    @Html.LabelAndTextBoxWithTooltipFor(x => x.Amount)

    <input id="hiddenSubmit" type="submit" class="hidden" />

    <div class="btn btn-success btn-block" onclick="ClickHandler()">
        @YaInvoiceRes.Текст_Кнопки
    </div>
}

@using Common.JavascriptValidation.Statics
@{ 
    string jsObject = JSValidationMaker.GetJSValidationObject(typeof(YandexInvoiceModel));
}
@section Scripts{
    
    @JSValidationHelper.GetDich(jsObject)

    <script>
        document.getElementById("@Html.GetIdForInput(x => x.Email)").value = "@email";

        document.getElementById("@Html.GetIdForInput(x => x.Amount)").value = "@Model.Amount";
    </script>

    <script>
        function ClickHandler() {
            document.getElementById("hiddenSubmit").click();
        }
    </script>
}

