@using Runtasker.Logic.Models.Payments.YandexKassa
@using Runtasker.Resources.Views.Payment.YandexInvoice
@model YandexInvoiceModel
@{
    ViewBag.Title = YaInvoiceRes.Отправлено_Заголовок;
}

<h2>@ViewBag.Title</h2>

@AlertHelper.GetAlert(string.Format(YaInvoiceRes.Отправлено_Формат, Model.Email, Model.Amount, HtmlSigns.Rouble))

<div class="btn-group-lg">
    <div class="btn">
        <a href="@Url.Action("Index", "Orders")" class="btn btn-warning">
            @YaInvoiceRes.На_Главную
        </a>
        <a href="@Url.Action("Index", "Orders")" class="btn btn-success">
            @YaInvoiceRes.К_Моим_Заказам
        </a>
    </div>
</div>