@model VkParser.Entities.VkKeyWord

@{
    ViewBag.Title = "Удалить ключевое слово";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Удаление ключевого слова</h2>

<h3>Вы действительно хотите это удалить?</h3>
<div>
    <h4>Ключевое слово</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MainForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherWordForms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherWordForms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить слово" class="btn btn-default" /> |
            @Html.ActionLink("Обратно к списку", "KeyWords")
        </div>
    }
</div>
