@using VkParser.Entities
@using HtmlExtensions.StaticRenderers
@using Extensions.String
@model List<VkGroup>
@{
    ViewBag.Title = "Группы";
    Layout = Runtasker.Statics.Views.ViewPaths.NewAdminLayoutPath;
}

<h2>Просматриваемые сообщества @GISigns.Count(Model.Count).ToHtml()</h2>

@if(Model.Count == 0)
{
    <div class="row">
        <a href="@Url.Action("GroupsRecovery")">Восстановить группы</a>
    </div>
}

<div class="row">
    <div class="col-md-6">
        <a href="@Url.Action("AddGroup", "VkOrders")" class="btn btn-default">
            Добавить новое
        </a>
        <a href="" class="btn btn-default">
            Еще функция
        </a>
    </div>

    <div class="col-md-6">
        <a href="@Url.Action("Index", "VkOrders")" class="btn btn-default">
            Назад к постам
        </a>
        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Ссылка в вк
                    </th>
                    <th>
                        Id последнего поста
                    </th>
                    <th>
                        В Группе
                    </th>
                </tr>
            </thead>

            <tbody>

                @foreach (VkGroup group in Model)
                {
                     
                    string vkLink = @"https://vk.com/" +  $"{group.ScreenName}";
                    

                    <tr class="active">
                        <td>
                            <a href="@vkLink">
                                @group.ScreenName
                            </a>
                        </td>
                        <td>
                            @group.LastCheckedPostId
                        </td>
                        <td>
                            @group.IsMember
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>