@using Runtasker.Statics.Views
@{
    ViewBag.Title = "Index";
    Layout = ViewPaths.NewLayoutPath;
}

<h2>Для разработчика</h2>

<p><a href="@Url.Action("HubsInfo", "Dev")">Посмотреть логи</a></p>

<p><a href="@Url.Action("Logs", "Dev")">Посмотреть логи</a></p>

<p><a href="@Url.Action("Db", "Dev")">Посмотреть базу данных</a></p>

<p><a href="@Url.Action("Reset", "Dev")">Очистить таблицы из базы данных</a></p>

<p><a href="@Url.Action("CreateUser", "Dev")">Добавить пользователя</a></p>

<p><a href="@Url.Action("AddMoneyToTestUser", "Dev")">Добавить денег тестовому поьзователю</a></p>