@using Extensions.String
@using Runtasker.LocaleBuilders.Models
@{
    Layout = null;

    LocaleViewModel localeModel = ViewData["localeModel"] as LocaleViewModel;
}

<section id="about" class="padding100">
    <div class="container">

        <h1 class="text-center">
            @localeModel["HeaderHtml"].ToHtml()
        </h1>
        <div class="divider">
            <!-- divider -->
            <i class="fa fa-star"></i>
        </div>

        
        <p class="lead h2">
            <strong>
                @localeModel["MiniDescription"]
            </strong>
        </p>

        <hr />

        <!-- BORN TO BE A WINNER -->
        <article class="row">
            <div class="col-md-6">
                <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                    <div>
                        <img class="img-responsive" src="~/assets/images/demo/my_about1.jpg" width="555" height="311" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="~/assets/images/demo/my_about2.jpg" width="555" height="311" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="~/assets/images/demo/my_about3.jpg" width="555" height="311" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h3>@localeModel["RuntaskerSlogan"]</h3>
                <p>
                    Наверняка вы задумывались, что куча времени уходит на выполнение рутинных заданий, однотипных рефератов и прочих работ которые нужны только для «галочки»? МЫ ТОЖЕ! В Runtasker считают это недопустимой тратой времени! Поэтому всю вашу рутину мы берём на себя. НО! Как же курсовые и дипломные – это громоздкие, нудные проекты, от которых часто хочется спать? ЭТО МЫ ТОЖЕ БЕРЁМ НА СЕБЯ! Вам больше не надо тратить на это время!  Всё что вам нужно - это написать нам тему и описать ваши пожелания, и мы сделаем всё за вас! Runtasker - ваше время важно для нас!
                </p>
            </div>

        </article>
        <!-- /BORN TO BE A WINNER -->

        <!-- WHO WE ARE and SKILLS -->
        <article class="row margin-top60">
            <div class="col-md-6">
                <h3>
                    @localeModel["WhyOrderFromUsHtml"].ToHtml()
                </h3>

                <div class="toogle">

                    <div class="toggle">
                        <label>@localeModel["WorksQuality"]</label>
                        <div class="toggle-content">
                            <p>
                                @localeModel["WorksQualityText"]
                            </p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>@localeModel["StrictTimetables"]</label>
                        <div class="toggle-content">
                            <p>
                                @localeModel["StrictTimetablesText"]
                            </p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>@localeModel["EditingAndFinilizing"]</label>
                        <div class="toggle-content">
                            <p>
                                @localeModel["EditingAndFinilizingText"]
                            </p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>@localeModel["TechnicalSupport"]</label>
                        <div class="toggle-content">
                            <p>
                                @localeModel["TechnicalSupportText"]
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <!--В процентах не сделано и не переведено-->
            @*<div class="col-md-6">
                <h3>Runtasker в процентах</h3>

                <div class="progress-bars">

                    <div class="progress-label">
                        <span>Довольные клиенты</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
                            <span class="progress-bar-tooltip">100%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span>Design</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="86%" data-appear-animation-delay="300">
                            <span class="progress-bar-tooltip">86%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span>Mysql</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="69%" data-appear-animation-delay="600">
                            <span class="progress-bar-tooltip">69%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span>PHP</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="96%" data-appear-animation-delay="900">
                            <span class="progress-bar-tooltip">96%</span>
                        </div>
                    </div>

                </div>

            </div>*@
            <!--/В процентах не сделано и не переведено-->
        </article>
        <!-- /WHO WE ARE and SKILLS -->

    </div>
</section>