@using Extensions.String
@using Runtasker.LocaleBuilders.Models
@{
    Layout = null;

    LocaleViewModel localeModel = ViewData["localeModel"] as LocaleViewModel;
}

<section id="about" class="padding100">
    <div class="container">

        <h1 class="text-center">
            @localeModel["HeaderHtml"].ToHtml()
        </h1>
        <div class="divider">
            <!-- divider -->
            <i class="fa fa-star"></i>
        </div>

        
        <p class="lead h2">
            <strong>
                @localeModel["MiniDescription"]
            </strong>
        </p>

        <hr />

        <!-- BORN TO BE A WINNER -->
        <article class="row">
            <div class="col-md-6">
                <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                    <div>
                        <img class="img-responsive" src="~/assets/images/demo/my_about1.jpg" width="555" height="311" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="~/assets/images/demo/my_about2.jpg" width="555" height="311" alt="">
                    </div>
                    <div>
                        <img class="img-responsive" src="~/assets/images/demo/my_about3.jpg" width="555" height="311" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h3>@localeModel["RuntaskerSlogan"]</h3>
                <h4>
                    @localeModel["TextParagraph"]
                </h4>
            </div>

        </article>
        <!-- /BORN TO BE A WINNER -->

        <!-- WHO WE ARE and SKILLS -->
        <article class="row margin-top60">
            <div class="col-md-6">
                <h3>
                    @localeModel["WhyOrderFromUsHtml"].ToHtml()
                </h3>

                <div class="toogle">

                    <div class="toggle">
                        <label>@localeModel["WorksQuality"]</label>
                        <div class="toggle-content">
                            <p>
                                @localeModel["WorksQualityText"]
                            </p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>@localeModel["StrictTimetables"]</label>
                        <div class="toggle-content">
                            <p>
                                @localeModel["StrictTimetablesText"]
                            </p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>@localeModel["EditingAndFinilizing"]</label>
                        <div class="toggle-content">
                            <p>
                                @localeModel["EditingAndFinilizingText"]
                            </p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>@localeModel["TechnicalSupport"]</label>
                        <div class="toggle-content">
                            <p>
                                @localeModel["TechnicalSupportText"]
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            
        </article>
        
    </div>
</section>