@using Runtasker.LocaleBuilders.Models
@using Extensions.String
@{
    Layout = null;
    LocaleViewModel localeModel = ViewData["localeModel"] as LocaleViewModel;
}


<section id="portfolio" class="special-row padding100">

    <h1 class="text-center">
        @localeModel["HeaderHtml"].ToHtml()
    </h1>
    <div class="divider">
        <!-- divider -->
        <i class="fa fa-star"></i>
    </div>

    <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
        <li data-option-value="*" class="active"><a href="#">@localeModel["ShowAll"]</a></li>
        <li data-option-value=".development" class=""><a href="#">@localeModel["Physics"]</a></li>
        <li data-option-value=".photography" class=""><a href="#">@localeModel["Mathematics"]</a></li>
        <li data-option-value=".design" class=""><a href="#">@localeModel["Programming"]</a></li>
    </ul>


    <div class="row">

        <ul class="sort-destination isotope lightbox fadeIn" data-sort-id="isotope-list" data-plugin-options="{&quot;delegate&quot;: &quot;a&quot;, &quot;gallery&quot;: {&quot;enabled&quot;: true}}" style="position: relative; overflow: hidden; height: 3856px;">

            <!--Физика-->
            <li class="isotope-item col-sm-6 col-md-3 development" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/Portfolio/физика1.png">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                @localeModel["ViewImageHmtl"].ToHtml()
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/Portfolio/физика1.png" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>
            <!--/Физика-->

            <!--Математика-->
            <li class="isotope-item col-sm-6 col-md-3 photography" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 320px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 2 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/Portfolio/мат2.png">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                @localeModel["ViewImageHmtl"].ToHtml()
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/Portfolio/мат2.png" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>
            <!--Математика-->

            <!--Математика-->
            <li class="isotope-item col-sm-6 col-md-3 photography" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 962px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 4 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/Portfolio/мат1.png">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                @localeModel["ViewImageHmtl"].ToHtml()
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/Portfolio/мат1.png" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>
            <!--/Математика-->

            <!--Физика-->
            <li class="isotope-item col-sm-6 col-md-3 development" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 1284px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 5 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/Portfolio/физика2.png">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                @localeModel["ViewImageHmtl"].ToHtml()
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/Portfolio/физика2.png" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>
            <!--/Физика-->

            <!--Программирование-->
            <li class="isotope-item col-sm-6 col-md-3 design" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 1606px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 6 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/Portfolio/прог1.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                @localeModel["ViewImageHmtl"].ToHtml()
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/Portfolio/прог1.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>
            <!--/Программирование-->

            <!--Физика-->
            <li class="isotope-item col-sm-6 col-md-3 development" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 2248px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 8 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/Portfolio/физика3.png">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                @localeModel["ViewImageHmtl"].ToHtml()
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/Portfolio/физика3.png" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>
            <!--/Физика-->

            <!--Физика-->
            <li class="isotope-item col-sm-6 col-md-3 development" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 2570px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/Portfolio/физика4.png">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                @localeModel["ViewImageHmtl"].ToHtml()
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/Portfolio/физика4.png" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>
            <!--/Физика-->

            <!--Программирование-->
            <li class="isotope-item col-sm-6 col-md-3 design" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 3214px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 3 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/Portfolio/прог2.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                @localeModel["ViewImageHmtl"].ToHtml()
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/Portfolio/прог2.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>
            <!--/Программирование-->
            

        </ul>

    </div><!-- /.masonry-container -->
    <!-- CALLOUT -->
    <div class="bs-callout text-center nomargin-bottom">
        <h3>
            @localeModel["CallOutBtnHtmlLink"].ToHtml()
        </h3>
    </div>
    <!-- /CALLOUT -->


</section>