@using HtmlExtensions.Renderers
@using Extensions.String
@using Runtasker.LocaleBuilders.Models
@{
    Layout = null;

    LocaleViewModel localeModel = ViewData["localeModel"] as LocaleViewModel;

    HtmlSignsRenderer HtmlSigns = new HtmlSignsRenderer();

    string firstPrice = $"от 50{HtmlSigns.Rouble}";
    string secondPrice = $"от 200{HtmlSigns.Rouble}";
    string thirdPrice = $"от 500{HtmlSigns.Rouble}";
}

<section id="pricing" class="padding100 special-row">
    <div class="container">

        <h1 class="text-center">RUNTASKER <strong>@localeModel["Title"]</strong></h1>
        <div class="divider">
            <!-- divider -->
            <i class="fa fa-star"></i>
        </div>

        <!--
            BOOTSTRAP GRID
            4 columns: col-md-3
            3 columns: col-md-4
            2 columns: col-md-2

            For more info about bootstrap grid
            http://getbootstrap.com/css/#grid
        -->


        <!-- FOUR COLUMNS -->
        <div class="row pricetable-container">

            <div class="col-md-3 price-table popular">
                <h3>@localeModel["Ordinary"]</h3>
                <p>
                    @localeModel["OrdinaryFromPrice"].ToHtml()
                    @*<span>за одно задание</span>*@
                </p>

                <ul>
                    <li>@localeModel["PayWithBonusMoney"]</li>
                    <li>@localeModel["DiscussWithPerformer"]</li>
                    <li>@localeModel["FreeCorrections"]</li>
                    <li>@localeModel["ShortTimeExecution"]</li>
                    <li>@localeModel["ReturningFundsWarranty"]</li>
                </ul>
                <a href="/Home/KnowPrice?workTypeId=0" class="btn btn-primary btn-sm">
                    @localeModel["FindOutThePrice"]
                </a>
            </div>

            <div class="col-md-3 price-table">
                <h3>@localeModel["Essay"]</h3>
                <p>
                    @localeModel["EssayFromPrice"].ToHtml()          
                </p>
                <ul>
                    <li>@localeModel["PayWithBonusMoney"]</li>
                    <li>@localeModel["DiscussWithPerformer"]</li>
                    <li>@localeModel["FreeCorrections"]</li>
                    <li>@localeModel["FreeUniqueTextUpgrade"]</li>
                    <li>@localeModel["ReturningFundsWarranty"]</li>
                </ul>
                <a href="/Home/KnowPrice?workTypeId=1" class="btn btn-primary btn-sm">
                    @localeModel["FindOutThePrice"]
                </a>
            </div>

            <!--Online-Help-->
            <div class="col-md-3 price-table popular">
                <h3>@localeModel["OnlineHelp"]</h3>
                <p>
                    @localeModel["OnlineHelpFromPrice"].ToHtml()
                </p>
                <ul class="pricetable-items">
                    <li>@localeModel["PayWithBonusMoney"]</li>
                    <li>@localeModel["DiscussWithPerformer"]</li>
                    <li>@localeModel["FreeCorrections"]</li>
                    <li>@localeModel["AnyTypeOfConnection"]</li>
                    <li>@localeModel["ReturningFundsWarranty"]</li>
                </ul>
                <a href="/Orders/OnlineHelp" class="btn btn-primary btn-sm">
                    @localeModel["OrderOnlineHelp"]
                </a>
            </div>
            <!--/Online-Help-->

            <div class="col-md-3 price-table">
                <h3>@localeModel["CourseWork"]</h3>
                <p>
                    @localeModel["CourseWorkFromPrice"].ToHtml()
                </p>
                <ul class="pricetable-items">
                    <li>@localeModel["PayWithBonusMoney"]</li>
                    <li>@localeModel["DiscussWithPerformer"]</li>
                    <li>@localeModel["FreeCorrections"]</li>
                    <li>@localeModel["FreeUniqueTextUpgrade"]</li>
                    <li>@localeModel["ReturningFundsWarranty"]</li>
                </ul>
                <a href="/Home/KnowPrice?workTypeId=2" class="btn btn-primary btn-sm">
                    @localeModel["FindOutThePrice"]
                </a>
            </div>

            

        </div>
        <!-- /FOUR COLUMNS -->

    </div>
</section>