
@helper GetAlert(string text, NotificationType notType = NotificationType.Info)
{
string _class = notType.ToDisplayName();

    <div class="alert @_class fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
         
        <p>@(new HtmlString(text))</p>
    </div>
}

@helper GetAlert(string title, string text, NotificationType notType = NotificationType.Info)
{
string _class = notType.ToDisplayName();
    <div class="alert @_class fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>@(new HtmlString(title))</h4>
        <p>@(new HtmlString(text))</p>
    </div>
}

@helper GetAlertWithActionBtn(string title, string text, string btnHtml = null, NotificationType notType = NotificationType.Info)
{
string _class = notType.ToDisplayName();


    <div class="alert @_class fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>@(new HtmlString(title))</h4>
        <p>@(new HtmlString(text))</p>
        @if (btnHtml != null)
        {
            <p>
                @(new HtmlString(btnHtml))
            </p>
        }
    </div>
}

@using Extensions.Enumerations
@using Runtasker.Logic.Entities
@helper GetLittleAlert(string text, NotificationType notType = NotificationType.Danger)
{
string _class = notType.ToDisplayName();
string _faClass = (notType == NotificationType.Danger)? "fa-frown-o" : "fa-smile-o";

    <div id="bigError" class="alert @_class">
        <i class="fa @_faClass"></i>
        <strong>
            @(new HtmlString(text))
        </strong>
    </div>
}

@helper GetBigAlert()
{
    <div id="bigError" class="alert alert-danger">
        <i class="fa fa-frown-o"></i>
        <strong id="bigErrorText"></strong>
    </div>
}

@helper GetAnonymousNotificationAlert(Runtasker.Logic.Enumerations.Notifications.Anonymous.AnonymousNotificationType? notType, bool shadowFromTop = false)
{
Runtasker.Models.Notifications.UINotificationModel model = Runtasker.Statics.Notifications.UIGuestNotifications.GetUINotification(notType);
if (model != null)
{
    if(shadowFromTop)
    {
        <style>
            .marginFromShadow
            {
                margin-top: 55px;
            }
        </style>
    }
    string _class = $"alert marginFromShadow {Extensions.Enumerations.EnumExtensions.ToDisplayName(model.Type)} alert-dismissable";

        <div class="row">
            <div class="col-md-12">
                <div class="@Extensions.String.StringExtension.ToHtml(@_class)">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>@(new HtmlString(model.Title))</h4>
                    <p>@(new HtmlString(model.Text))</p>
                    
                    @if (model.ActionLink != null)
                    {
                        <p>@Extensions.String.StringExtension.ToHtml(model.ActionLink.ToString())</p>
                    }
                </div>
            </div>
        </div>
        
}
    
}